# python
__pycache__/
*.pyc
.venv/
.env

# data & models
/data/raw/*
!/data/raw/.gitkeep
/data/processed/*
!/data/processed/.gitkeep
/models/*
!/models/.gitkeep

# artifacts
*.pkl
*.npy
*.joblib

# IDE
.vscode/
.idea/